/* 
*********************************************************
HEADER
*********************************************************
*/


/* 
*********************************************************
MAIN
*********************************************************
*/
.login main{
 height: 258px;
 background-color: var(--celeste);
}

.login main h4{
    text-align: center;
    padding: 10px  ;
    text-shadow: 2px -1px 2px var(--rosa);
}
.login main .container {
    height: 192px;
    width: 81%;
    background-color: var(--blanco);
    border-radius: 10px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}

.login main .container  .ingreso1{
    background-color: var(--rosa);
    width: 80%;
    padding: 4px;
    border-radius: 5px;
    margin: 18px 10px -4px 26px;
    border: solid 1px var(--negro);
}

.login main .container  .ingreso2{
    background-color: var(--rosa);
    width: 80%;
    padding: 4px;
    border-radius: 5px;
    margin: 18px 10px -4px 26px;
    border: solid 1px var(--negro);
}
.login main .container .checkbox{
     display: flex;
    flex-direction: row;
    padding-top: 16px
}
.login main .container input{
  padding-right: 3px;
   
}
/* .login main .container p{
  
    
} */


.login main .container .bottom a{
    display: inline-block;
    border-radius: 4px;
    width: 118px;
    padding: 5px;
    margin: 8px 26px;
    background-color: var(--rosa);
    color: var(--negro);
    text-align: center;
    font-weight: 1000;
    border: solid 1px var(--negro);
}

/* 
*********************************************************
FOOTER
*********************************************************
*/

.login footer{
    /*  height: 185px; */
     background-color: var(--rosa);
     display:flex;
     flex-wrap: wrap;
     width: 100%;
 }
 
 .login footer .logo-footer {
     width: 50%;
     display: flex;
     justify-content: center;
     align-items: center; 
     
 }
 .login footer .logo-footer img{
     width: 80%;
     margin-top: 5px;
 }
 .login footer p{
     width: 90%;
     margin: 0 auto;
     padding-bottom: 5px;
     border-top: 1px solid var(--negro);
     
 }
 
 .login footer .info {
     width: 50%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 .login footer .info .nosotros{
     border-bottom: 1px solid black;
     margin-bottom: 15px;
     padding-bottom: 10px;
     
 }
 .login footer .info h2{
     width: 75%;
     font-size: 14px;
     color:var(--blanco)
 }
 /* 
*******************************************
MEDIA QUERIS
********************************************
 */
 @media(min-width: 481px){
    
    
    /* MAIN */
    .login main {
        height: 323px;
        
    }

    .login main h4 {
        padding-top: 39px;
    }
    .login main .container {
        height: 192px;
        width: 51%;
        margin: 0 auto;
    }
    .login main .container div .ingreso1{
        margin-top: 27px;
    }

 }

 @media(min-width:1280px){
        /* MAIN */
        .login main {
            height: 380px;
        }
        .login main h4 {
            padding-top: 39px;
        }
        .login main .container {
            height: 232px;
            width: 51%;
            margin: 0 auto;
        }
    .login main .container div .ingreso1{
        margin-top: 48px;
        width: 84%;
    }
    .login main .container div .ingreso2 {
        
        width: 84%;
        padding: 4px;
        border-radius: 10px;
        margin: 18px 10px -4px 26px;
    }
}