/* 
*********************************************************
HEADER
*********************************************************
*/

.login header{
    display: flex;
    flex-direction: column;
    background-color:var(--rosa);
    padding-top:10px;
    padding-bottom: 15px;
}
.login header .superior{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;;
 }
 
 .login header .menu{
     font-size: 23px;;
 }

 .login header div div .logo{
    width:90px;
    height: 90px; 
    box-shadow: 1px 0px 6px rgb(1 1 1);
    border-radius: 50px;
}
   
 
 
.login  header .iconos{
     width:50px;
     display: flex;
     justify-content: space-around;
 }
 
 .login header .iconos a{
    color: var(--negro);
}

.login header div  .busqueda-header{
    position:relative;
}
.login header div  .busqueda-header  div .busqueda{
    border-radius: 10px;
    width: 90%;
    display: flex;
    justify-content: center; 
    margin:auto;   
}
.login header div .busqueda-header i{
    position: absolute;
    top: 17%;
    right: 7%;
    font-size: 14px;
    color: #7e7a7a;
}

.login header .iconos .mi-carrito{
    display: none;
}
.login header .iconos .ingreso{
    display: none;
}

.login header div .categorias h3{
    display: none;
}

.login header div .categorias-items h3{
    display: none;
}
/* 
*********************************************************
MAIN
*********************************************************
*/
.login main{
 height: 258px;
 background-color: var(--celeste);
}

.login main h4{
    text-align: center;
    padding: 10px  ;
}
.login main .container {
    height: 192px;
    width: 90%;
    background-color: var(--blanco);
    border-radius: 10px;
    margin: 0 auto;
}

.login main .container div .ingreso{
    background-color: var(--rosa);
    width: 80%;
    padding: 4px;
    border-radius: 10px;
    margin: 18px 10px -4px 26px;
}
.login main .container input{
    margin: 21px 30px;
}
.login main .container p{
    margin: -36px 0px 0px 57px;
}

.login main .container .bottom{
    height: 25px;
    width: 79px;
    background-color: var(--rosa);
    border-radius: 10px;
    margin: 14px 0px 0px 28px;
}
.login main .container .bottom a{
    color: var(--blanco);
    margin: 9px;
    font-size: 19px;
}

/* 
*********************************************************
FOOTER
*********************************************************
*/

.login footer{
    /*  height: 185px; */
     background-color: var(--rosa);
     display:flex;
     flex-wrap: wrap;
     width: 100%;
 }
 
 .login footer .logo-footer {
     width: 50%;
     display: flex;
     justify-content: center;
     align-items: center; 
     
 }
 .login footer .logo-footer img{
     width: 80%;
     margin-top: 5px;
 }
 .login footer p{
     width: 90%;
     margin: 0 auto;
     padding-bottom: 5px;
     border-top: 1px solid var(--negro);
 }
 
 .login footer .info {
     width: 50%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 .login footer .info .nosotros{
     border-bottom: 1px solid black;
     margin-bottom: 15px;
     padding-bottom: 10px;
     
 }
 .login footer .info h2{
     width: 75%;
     font-size: 14px;
     color:var(--blanco)
 }
 