.section__admin{
    padding: 50px;
}

.btn__create{
    background-color: var(--rosaD);
    color: #fff;
    margin-top: 20px;
    padding: 8px;
    border-radius: 8px;
}


.tableProductsAdmin__listPro {
    display: table;
     width: 100%; 
     background-color: var(--celeste);
     margin: 0;
     box-sizing: border-box;
     padding: 5px;
     font-size: 12px;

 }

 .productoAdmin__img{
     width: 80px;
 }
 
 

 .caption__listPro {
     display: flex;
     justify-content: space-between;
     width: 100%;
     background-color: var(--celeste);
     height: 55px;
     padding: 0px 10px;
     color: black;
     font-size: 30px;
     line-height: 55px;
     text-shadow: 1px 1px 1px rgba(0,0,0,.3);
     box-sizing: border-box;
     margin-bottom: 50px;
 }
 

 .header-row__listPro {
    background-color: var(--rosaD);
     color: white;

 }

.row__listPro {
    display: table-row;

}

.cell__listPro {
    display: table-cell;
    padding: 6px; 
    border-bottom: 1px solid var(--rosaD);
    text-align: center;
}

.primary__listPro {
    text-align: left;
}


.row__listPro input[type="radio"]
/* input[type="checkbox"] */{
    display: none;
}


.action-button-delete{
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 5px;
}

.action-button-edit{
    background-color: rgb(0, 255, 85);
    padding: 5px;
    color: white;
}

@media only screen and (max-width: 760px)  {


    
.row__listPro .cell__listProimg{
    height: 100px;
 }
    body {
        padding: 0;
       
    }

    .tableProductsAdmin__listPro {
        
        display: block;
        margin: 44px 0 0 0;
     
    }
   

    .captioncaption__listPro {
        position: fixed;
        top: 0;
        text-align:center;
        height: 44px;
        line-height: 44px;
        z-index: 5;
        border-bottom: 2px solid var(--negro);
   
    }
   

    .row__listPro { 
        position: relative;
        display: block;
        border-bottom: 1px solid  var(--rosaD); 

    }

    .header-row__listPro {
        display: none;
    }
    
    .cell__listPro { 
        display: block;

        border: none;
        position: relative;
        height: 45px;
        line-height: 45px;
        text-align: left;
    }

    .primary__listPro:after {
        content: "";
        display: block;
        position: absolute;
        right:20px;
        top:18px;
        z-index: 2;
        width: 0; 
        height: 0; 
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent; 
        border-right:10px solid  var(--rosaD);

    }

    .cell__listPro:nth-of-type(n+2) { 
        display: none; 
    }


    .row__listPro input[type="radio"],
    .row__listPro input[type="checkbox"] {
        display: block;
        position: absolute;
        z-index: 1;
        width: 99%;
        height: 100%;
        opacity: 0;
    }

    .row__listPro input[type="radio"]:checked,
    .row__listPro input[type="checkbox"]:checked {
      z-index: -1;
    }

    .row__listPro input[type="radio"]:checked ~ .cell__listPro,
    .row__listPro input[type="checkbox"]:checked ~ .cell__listPro {
        display: block;

        border-bottom: 1px solid  var(--rosa); 
    }

    .row__listPro input[type="radio"]:checked ~ .cell__listPro:nth-of-type(n+2),
    .row__listPro input[type="checkbox"]:checked ~ .cell__listPro:nth-of-type(n+2) {
        
        background: #e0e0e0;
    }

    .row__listPro input[type="radio"]:checked ~ .cell__listPro:nth-of-type(n+2):before,
    .row__listPro input[type="checkbox"]:checked ~ .cell__listPro:nth-of-type(n+2):before {
        content: attr(data-label);

        display: none;
        width: 60px;
        background: green;
        border-radius: 10px;
        height: 20px;
        margin-right: 10px;
        font-size: 150px;
        line-height: 20px;
        text-align: center;
        color: white;

    }

    .row__listPro input[type="radio"]:checked ~ .primary__listPro,
    .row__listPro input[type="checkbox"]:checked ~ .primary__listPro  {
        border-bottom: 2px solid  var(--celeste);
    }

    .row__listPro input[type="radio"]:checked ~ .primary:after,
    .row__listPro input[type="checkbox"]:checked ~ .primary:after {
         position: absolute;
        right:18px;
        top:22px;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent; 
        border-top:10px solid  var(--celeste);
        z-index: 2;
    }
}