
.containerNewProduct{
	background-color: var(--celeste);
	  border: solid 3px var(--rosaD);
	padding-left:25px;
	 
	}

.formulario__h1{
	margin: 50px 0px;
  	color: var(--rosaD);
 	font-size: 32px;
  	
  	letter-spacing: 2px;
  	text-align: center;
  	text-transform: uppercase;
  	text-shadow: 2px -1px 2px black;
}

main.mainformproduct{
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}



.inputImagenProducto{
	width: 0.1px;
 height: 0.1px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 z-index: -1;
 
}

.labelImagenProducto{
 font-size: 10px;
 font-weight: 300px;
 color: #fff;
 background-color: #106BA0;
 display: inline-block;
 transition: all .5s;
 cursor: pointer;
 padding: 15px 20px !important;
 text-transform: uppercase;
 width: fit-content;
 text-align: center;
 border-radius: 20px;
 transition: .1s ease all;
}

.labelImagenProducto:active {
	
	background-color: #e61b00;
	
}

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario__label {

	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	
	position: relative;
}

.formulario__input{
	width: 90%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__imagenout{
	width: 80%;
}

.descripcion_producto{
	 
    width:95%;
   
}


.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: var(--rosaD);
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: .1s ease all;
	margin: 20px 0px 50px 0px;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgb(0, 0, 0);
}

/* .formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
} */

/* .formulario__mensaje-exito-activo {
	display: block;
} */

/* ----- -----  Estilos para Validacion ----- ----- */
/* .formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
} */


/* ----- -----  Mediaqueries ----- ----- */
@media only screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 50%;
	}
	

	.formulario__h1{
		
		 font-size: 28px;
		  
	}
	.descripcion_producto{
	 
		width:95%;
	   
	}
}


@media only screen and (max-width: 481px) {

	
	.formulario {
		grid-template-columns: 100%;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 0.5;
	}

	.formulario__btn {
		width: 35%;
	}

	.formulario__h1{
		
		font-size: 20px;
		 
   }
   .descripcion_producto{
	 
    width:75%;
   
}

}