.headerAdmin{
    display: flex;
    /* padding: 20px 20px; */
}



.mainAdmin{
    background-color: var(--celeste);
}


.logoHeaderAdmin{
    width: 100%;
    text-align: center;
    margin-bottom: 25px;

}

.optionHeaderAdmin{
    /* border-top: solid 1px black; */
    width: 100%;
    text-align: center;
    
}

.optionHeaderAdmin a{
   margin: 0px 10px;
   color: black;
   padding-top: 50px;
  

}