

/* 
*********************************************************
home main
*********************************************************
*/


.home main{
    
    background-color:var(--celeste)	;  
    padding-bottom: 70px;
}


.home main .banner img{
    width: 96%;
    height: 40px;
    margin: 1% 7% 5% 2%;
}

.h4_home{
    text-align: center;
    padding: 10px  ;
    text-shadow: 2px -1px 2px var(--rosa);
    font-size: 1em;
    text-transform: uppercase;
}




/* 
*********************************************************
carrusel banner
*********************************************************
*/

.body_carrusel{
    display: flex;
}

.img_carrusel{
    max-width: 100%;
}

.contenedor_carrusel{
    position: relative;
    width: 100%;
    /* border-radius: 6px; */
    overflow: hidden;
    
}

.carrusel{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item_carrusel{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.paginacion{
    display: flex;
    position: absolute;
    flex-direction: row;
    bottom: 5px;
    /* left: 50%; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.item_paginacion{
    display: flex;
  /*   flex-direction: column;
    align-items: center; */
    border: 2px solid red;
    width: 10px;
    height: 10px;
    border-radius: 8px;
    /* overflow: hidden;
    cursor: pointer; */
    background: rgb(255, 255, 255, 0.5);
    margin: 0 10px;
   /*  text-align: center; */
    transition: all 300ms;
}

.item_paginacion:hover{
    transform: scale(2);
    background: rgb(255, 0, 0);
    
}


.item_paginacion img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.item_paginacion:hover{
    opacity: 1;
    transform: scale(1);
}

input[id="1"]:checked ~ .carrusel{
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .paginacion .item_paginacion[for="1"]{
    background: black;
}

input[id="2"]:checked ~ .carrusel{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .paginacion .item_paginacion[for="2"]{
    background: black;
}

input[id="3"]:checked ~ .carrusel{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .paginacion .item_paginacion[for="3"]{
    background: black;
}


@keyframes autoplay {
    33%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    
    66%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    
    100%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
    
}




/* 
*********************************************************
carrusel marcas
*********************************************************
*/

.carousel{
    padding-top: 50px;
   /*  margin: 20px 0px; */
    background-color: #fff;
  
}
.carousel__contenedor{
    position: relative;
    padding: 0px 50px;  
}

.carousel__anterior,
.carousel__siguiente{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 18px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: white;
    color: rgb(0, 0, 0);
    /* opacity: 20%; */
    border-radius: 50px;
    

}

.carousel__anterior:hover,
.carousel__siguiente:hover{
    opacity: 100%;
}

.carousel__anterior{
    left: 10px;
}
.carousel__siguiente{
    right: 10px;
}

.carousel__lista{
    overflow: hidden;
    
}

.carousel__img {
    height: 50px;
    box-shadow: 0px 0px 0px rgb(68, 67, 67);
    border-radius: 10px;
    margin-bottom: 10px;
}
.carousel__img:hover{
    box-shadow: 0px 5px 10px rgb(68, 67, 67);
}

.glider-dot{
    display: none;
}







/* 
*********************************************************
tarjetas info
*********************************************************
*/


.container__cardultimo{
    padding: 100px 0px;
    background: #fff;
    width: 100%;
    margin: auto;
    /* margin-top: 100px; */
    perspective: 1000px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /* background: #F1FAFF */
}

.card__fatherultimo{
    
    /* margin: 0 50px 150px 50px; */
    perspective: 1000px;
}

.card__fatherultimo:hover .cardultimo{
    transform: rotateY(180deg);
}


.cardultimo{
    width: 250px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}

.card__frontultimo{
    background-size: cover;
    background-position: center;
}


.card__frontultimo,
.card__backultimo{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.card__backultimo{
    transform: rotateY(180deg);
    background: var(--celeste);
}

.body__card_frontultimo{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translateZ(60px);
}

.bgultimo{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
}

.body__card_backultimo{
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
}

.body__card_backultimo p{
    margin-top: 30px;
    font-size: 18px;
}

.body__card_backultimo input{
    padding: 10px 40px;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
    background: #58B0F6;
    box-shadow: 1px 1px 30px -5px #58B0F6;
    border-radius: 10px;
    transition: box-shadow 600ms;
}

.body__card_backultimo input:hover{
    box-shadow: 1px 1px 30px 0px #449de6;
}




/* 
*********************************************************
CARRUSEL PRODUCTOS
*********************************************************
*/

.css_carusel_product{
    padding-top: 100px;
    margin-bottom: 100px;
}


.card_product{
    width: 180px;
    height: 250px;
    background: #f4f4f4;
    position: relative;
    border-radius: 10px;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s ease-in-out,
                    transform .5s ease-in-out;
    overflow: hidden;
    
                     
}

.card_product:hover{
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, .2);

}

.img_cardbox{
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.img_cardbox img{
    width: 100%;
    height: 100%;
}

.details_product{
    position: absolute;
    width: 100%;
    height: 50%;
    background: #ffabc865;
    padding: 10px;
    bottom: -74px;
    transition: 0.5s;
}

.details_product:hover{
    bottom: 0;
}

.textcontent_product{
    position: relative;
    margin-top: -5px;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30ch;
   
}

.textcontent_product h3{
    font-size: 10px;
    padding: 5px 0;
    max-width: 75ch;
    
}

.price_product{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
}

.details_product h4{
    font-size: 18px;
    margin-top: 15px;
    padding: 10px 0;
    padding-right: 10px;
    font-weight: bold;
    color: var(--rosaD);
}


/* PARA PONER OPCIONES DE COLORES */


/* .details_product ul{
    display: flex;
} */

/* .details_product ul li{
    list-style: none;
    width: 15px;
    height: 15px;
    margin: 5px;
    cursor: pointer;
}

.details_product ul li:nth-child(1){
    background: #00f;
}
.details_product ul li:nth-child(2){
    background: rgb(204, 247, 12);
}
.details_product ul li:nth-child(3){
    background: rgb(14, 170, 0);
}
.details_product ul li:nth-child(4){
    background: rgb(255, 0, 0);
} */

.details_product button{
    width: 100%;
    padding: 5px 0;
    margin: 10px 0 5px;
    background: var(--celeste);
    color: #000000;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.details_product button:hover{
    background: var(--rosaD);
    color: #fff;
}

.description_product{
    background: rgb(18, 1, 255);
    position: absolute;
    width: 120px;
    height: 120px;
    top: -70px;
    right: -70px;
    border-radius: 0 0 200px 200px;
    transition: all .5s, border-radius 1s, top 1s ;

}

.description_product .icons_product{
    position: absolute;
    top: 85px;
    right: 85px;
    color: #fff;
    opacity: 1;

}

.description_product:hover{
    width: 100%;
    height: 80%;
    right: 0;
    top: 0;
    border-radius: 0;

}

.description_product:hover .icons_product{
    opacity: 0;

}

.description_product .contents_product{
    color: rgb(255, 255, 255);
    padding: 5%;
    transform: scale(0.5);
    transform: translateY(-200%);
    transition: opacity .2s, transform 1s;
    opacity: 0;
}

.description_product:hover .contents_product{
    transform: scale(1);
    opacity: 1;
    transform: translateY(0);
}

.contents_product h2{
    margin: 20px 0;
    text-align: center;
}


.product__redising{
    padding-left: 50px;
}





/* 
*********************************************************
tarjetas categorias
*********************************************************
*/

/* .tajetasInfo__home{
background-color: var(--celeste);
} */
.cards__info{
    background-color: var(--celeste);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,.5fr));
    padding: 20px;
    grid-gap: 40px;
}
.card__info{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 1px 10px rgba(0,0,0,.2);
    cursor: default;
    transition: all 400ms ease;
}

.card__info:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,1);
    transform: translateX(-3%) ;


}

.container__info{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
.container__info img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
    
}
.container__info:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}
.card1>.container__info:after{
    background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
}
.card2>.container__info:after{
    background-image: linear-gradient(
        135deg,
        #2bdce3,
        #42ffdb
    );
}
.card3>.container__info:after{
    background-image: linear-gradient(
        135deg,
        #ffab1d,
        #f8501c
    );
}
.card4>.container__info:after{
    background-image: linear-gradient(
        135deg,
        #F82B9A,
        #FFABC9
    );
}
.details__info{
    padding: 20px 10px;
}
.details__info>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details__info>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}


.btn_info_home{
    float: right;
    background: var(--celeste);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
	transition: .1s ease all;
    margin-top: -20px;
}

.btn_info_home:hover{
   background: #1c1b29;
   color: #fff;
}







/* 
*******************************************
MEDIA QUERIS
********************************************
 */

@media(min-width: 481px){
 
   /* MAIN */
    main .section-products .products{
        margin-top: 5px;
        margin-right: 4%;
        margin-bottom: 20px;
        width: 15%;
    }
    main .lugares .lugares-tablet{
        display: flex;
    }
    main .lugares div{
        width: 30%;
    }

    .home main .banner img{
        width: 96%;
        height: 80px;
        margin: 1% 7% 5% 2%;
    }

    .paginacion{
        
        bottom: 8px;
        
    }

    .item_paginacion{
       
        width: 15px;
        height: 15px;
       
    }
}



@media(min-width: 769px){

    
    
    main .section-products .products-desk {
            display: inline;
            margin-top: 5px;
            margin-right: 4%;
            margin-bottom: 20px;
            width: 15%;
    }

    main .section-products .products-desk img {
        width: 100%;
        height: 50px;
    }
    main .section-products .products-desk h3{
       color: var(--rosa);
    }
    
    main .section-products .products-desk .precio{
        color: var(--rosa);
    }
    main .section-products .products-desk .more{
        display: inline-block;
        border-radius: 10px;
        width: 100%;
        padding: 5px;
        margin: 8px 0px;
        background-color: var(--rosa);
        color: white;
        text-align: center;
        font-weight: 1000;
        /* transition: background-color 0.5s; */
    } 

    .home main .banner img{
        width: 96%;
        height: 115px;
        margin: 1% 7% 5% 2%;
    }

    .paginacion{
        
        bottom: 10px;
        
    }
    
    .item_paginacion{
       
        width: 18px;
        height: 18px;
       
    }
   
}
