
/* body{
 
  overflow: hidden;
} */
::selection{
  background: rgba(26,188,156,0.3);
}
.container__login{
  max-width: 440px;
  padding: 0 20px;
  margin: 170px auto;
}
.wrapper__login{
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.wrapper__login .title__login{
  height: 90px;
  background: var(--rosaD);
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper__login form{
  padding: 30px 25px 25px 25px;
}
.wrapper__login form .row__login{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper__login form .row__login input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .row__login input:focus{
  border-color: #1700e6;
  box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
form .row__login input::placeholder{
  color: #999;
}
.wrapper__login form .row__login i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: var(--rosaD);
  border: 1px solid #000000;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper__login form .pass__login{
  margin: -8px 0 20px 0;
}
.wrapper__login form .pass__login a{
  color: var(--rosaD);
  font-size: 17px;
  text-decoration: none;
}
.wrapper__login form .pass__login a:hover{
  text-decoration: underline;
}
.wrapper__login form .button__login input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: var(--rosaD);
  border: 1px solid #000000;
  cursor: pointer;
}
form .button__login input:hover{
  background: var(--celeste);
  color: #000000;
}
.wrapper__login form .signup-link__login,.signup-link__login2{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.wrapper__login form .signup-link__login a{
  color: var(--rosaD);
  text-decoration: none;
}
form .signup-link__login a:hover{
  text-decoration: underline;
}
.wrapper__login form .signup-link__login2 a{
  color: rgb(255, 0, 0);
  text-decoration: none;
}
form .signup-link__login2 a:hover{
  text-decoration: underline;
}
