







.container_productDetail {
    margin: 0 auto;
    padding: 40px;
    display: flex;
    align-items: center;
  }


/* Columns */
.left-column_productDetail {
    width: 55%;
    position: relative;
    margin: 10px;
  }

  .left-column_productDetail img{
      width: 80%;
      border-radius: 10px;
  }
   
  .right-column_productDetail {
    width: 45%;
 
    margin: 10px ;
  }



  /* Product Description */
.product-description_productDetail {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
  .product-description_productDetail span {
    font-size: 20px;
    color: var(--rosaD);
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .product-description_productDetail h1 {
    font-weight: 300;
    font-size: 15px;
    color: #43484D;
    letter-spacing: -2px;
    margin-bottom: 20px;
  }
  .product-description_productDetail p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
  }


  /* Product Color */
.product-color_productDetail {
    margin-bottom: 30px;
  }
   
  .color-choose_productDetail div {
    display: inline-block;
  }
   
 

  /* Cable Configuration */

.btn_prouctDetail1{
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color: #ffffff;
    background-color: rgb(4, 161, 30);
    cursor: pointer;
    transition: all .5s;
  }
.btn_prouctDetail2{
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color: #ffffff;
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    transition: all .5s;
  }
.btn_prouctDetail3{
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color: #ffffff;
    background-color: var(--rosaD);
    cursor: pointer;
    transition: all .5s;
  }
   
  .btn_prouctDetail1:hover,
.btn_prouctDetail1:active,
 .btn_prouctDetail1:focus {
    border: 2px solid #86939E;
    outline: none;
    background: linear-gradient(
        135deg,
        rgb(4, 161, 30),
        #ffffff);
  }
  .btn_prouctDetail2:hover,
.btn_prouctDetail2:active,
 .btn_prouctDetail2:focus {
    border: 2px solid #86939E;
    outline: none;
    background: linear-gradient(
        135deg,
        rgb(255, 0, 0),
        #ffffff);
  }
  .btn_prouctDetail3:hover,
.btn_prouctDetail3:active,
 .btn_prouctDetail3:focus {
    border: 2px solid #86939E;
    outline: none;
    background: linear-gradient(
        135deg,
        #F82B9A,
        #ffffff);
  }

 

  
   

  

   


  /* Product Price */
.product-price_productDetail {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
   
  .product-price_productDetail span {
    font-size: 50px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
  }
   
 



  /* Responsive */
@media (max-width: 940px) {
    .container_productDetail {
      flex-direction: column;
      margin-top: 60px;
    }
   
    .left-column_productDetail,
    .right-column_productDetail {
      width: 100%;
    }
   
    .left-column_productDetail img {
      width: 300px;
      right: 0;
      top: -65px;
      left: initial;
    }
  }

  .product-description_productDetail h1 {
    font-weight: 300;
    font-size: 40px;
    color: #43484D;
    letter-spacing: -2px;
  }

/* 
  .left-column_productDetail {
    width: 55%;
    position: relative;
    margin: 10px;
  }

  .left-column_productDetail img{
      width: 80%;
      border-radius: 10px;
  }
   */
   
  @media (max-width: 535px) {
    .left-column_productDetail img {
      width: 220px;
      top: -85px;
    }
  }

  .product-description_productDetail h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
  }













