

/* 
*********************************************************
MAIN
*********************************************************
*/
.register main{
    background-color: var(--celeste);
  
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}
.register main .container{
    /* align-content: center; */
    /* height: 310px; */
    width: 80%;
    background-color: var(--blanco);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
   /*  padding-left: 10px; */
    /* padding-top: 10px;
    padding-bottom: 10px; */
}



.input{
    border-radius: 4px;
    background-color: var(--rosa);
    color: var(--negro);
   /*  width: 100%; */
    /* max-width:350px; */
    padding: 5px;
    margin-bottom: 15px;
    border: solid 1px var(--negro);
}

.input input{
    background-color: var(--rosa);
    border: 0;
}
.register main .container div{
    display: flex;
    
}
.register main .container div p{
    font-size: 8px;
}

.register .container .bottom{
    border-radius: 6px;
    width: 118px;
    padding: 3px;
    border: solid 1px var(--negro);
    background-color: var(--rosa);
    
    text-align: center;
    font-weight: 1000;
    margin-top: 10px;
}

.register .container .bottom a{
    
    text-decoration: none;
    margin-left: 15px;
    color: var(--negro);
}
