<footer class="footer-distributed">

    <div class="footer-left">

        <a href="#" ><img src="/img/Logo.png" alt="" class="logo__footer" ></a>
        

        <p class="footer-links">
            <a href="#">Home</a>
            ·
            <a href="#">Tienda</a>
            ·
            <a href="#">Conocenos</a>
            ·
            <a href="#">Blog</a>
        </p>

        
        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>
        <p class="footer-company-name">Punta de Lapiz © 2022</p>

    </div>

    <div class="footer-right">

        <p>Contactanos</p>

        <form action="#" method="post">

            <input type="text" name="email" placeholder="Email">
            <textarea name="message" placeholder="Mensaje"></textarea>
            <button>Enviar</button>

        </form>

    </div>





<!------------------------------------------------------------------------
------------------------------SCRIPT------------------------------------
--------------------------------------------------------------------------->



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
	<script src="js/carrusel.js"></script>
	<script src="js/carrusel_2.js"></script>
</footer>