<footer>
    <div class="logo-footer">
        <img src="/img/Logo.png" alt="logo">
    </div>
    <div class="info">
        <h2 class="nosotros">NOSOTROS</h2>
        <h2 class="nosotros">SERVICIOS</h2>
        <h2>CONTACTOS</h2>
    </div>
    <p>Todos los derechos reservados 2021</p>
</footer>