<header class="header">

    
    <a href="#" class="logo"><img src="img/logo2.png" alt=""></a>

    <nav class="navbar">
        <a class="active" href="#home">Home</a>
        <a href="#dishes">Tienda</a>
        <a href="#about">Conocenos</a>
        <a href="#menu">Blog</a>
    </nav>

    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-search" id="search-icon"></i>

        <!-- user modal -->

        <button class="btn_modal_user" id="open">
            <a href="#" class="fas fa-user"></a>
          </button>
          <div id="modal_container" class="modal-container">
            <div class="modal_user">

                <img src="img/logo.png" alt="">
              <div class="user_etiqt_a">
                  <a href="/users/login">iniciar secion</a>
              </div>
              <div class="user_etiqt_a">
                  <a href="/users/register">registrarse</a>
              </div>
              <button class="btn__close__user" id="close_user">Cerrar</button>
            </div>
          </div>
        

        <a href="#" class="fas fa-shopping-cart"></a>
    </div>

    <form action="" id="search-form">
        <input type="search" placeholder="buscar producto" name="" id="search-box">
        <label for="search-box" class="fas fa-search"></label>
        <i class="fas fa-times" id="close"></i>
    </form>


    <div class="social">
		<ul>
			<li><a href="https://www.facebook.com/sharer/sharer.php?u=http://norfipc.com/redes-sociales/codigos-direcciones-para-compartir-contenido-redes-sociales.php " target="_blank" class="fa fa-facebook"></a></li>
			<li><a href="https://api.whatsapp.com/send?text=escola%20inform%C3%A1tica%20i%20disseny%20https://espai.es " target="_blank" class="fa fa-whatsapp"></a></li>
			<li><a href="https://twitter.com/?status=" target="_blank" class="fa fa-twitter"></a></li>
			<li><a href="https://www.linkedin.com/shareArticle?url=dirección de la página" target="_blank" class="fa fa-linkedin"></a></li>
			<li><a href="https://pinterest.com/pin/create/button/?media=dirección URL de la imagen" class="fa fa-pinterest"></a></li>
		</ul>
	</div>
    
    

  <a href="https://wa.me/543804611891?text=Tengo%20una%20consulta!" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>

<script src="js/header.js"></script>
<script src="js/modalUsers.js"></script>
</header>























