<header class="header">

    
    <a href="#" class="logo"><img src="img/logo2.png" alt=""></a>

    <nav class="navbar">
        <a class="active" href="/">Home</a>
        <a href="/tienda">Tienda</a>
        <a href="#about">Conocenos</a>
        <a href="#menu">Blog</a>
    </nav>

    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-search" id="search-icon"></i>

        <!-- user modal -->

        <button class="btn_modal_user" id="open">
            <a href="#" class="fas fa-user"></a>
          </button>
          <div id="modal_container" class="modal-container">
            <div class="modal_user">

                <img src="img/logo.png" alt="">
              <div class="user_etiqt_a">
                  <a href="/users/login">iniciar secion</a>
              </div>
              <div class="user_etiqt_a">
                  <a href="/users/register">registrarse</a>
              </div>
              <button class="btn__close__user" id="close_user">Cerrar</button>
            </div>
          </div>
        

        <a href="#" class="fas fa-shopping-cart"></a>
    </div>

    <form action="" id="search-form">
        <input type="search" placeholder="buscar producto" name="" id="search-box">
        <label for="search-box" class="fas fa-search"></label>
        <i class="fas fa-times" id="close"></i>
    </form>



<script src="js/header.js"></script>
<script src="js/modalUsers.js"></script>
</header>























