<header class="headerAdmin">
    <section class="logoHeaderAdmin">
    <div >
        <a href="/">
        <img src="/img/Logo.png" alt="logo" />
        </a>
    </div >
    </section>
    <section class="optionHeaderAdmin">

        <a href="/">Tienda</a>
        <a href="/users/user/1">Volver a mi Perfil</a>
        <p><form action="/users/logout" method="GET"> <button type="submit"> Cerrar sesión</button> </form></p>

    </section>
</header>