<header>

    <div class="logo">
        <a href="/">
        <img src="/img/Logo.png" alt="logo" />
        </a>
    </div >

        <nav class="iconos">
            <div class="content">
                <a href="/product"><i class="fas fa-shopping-cart"></i></a>
                <p>Mi carrito</p>
                <a href=""><h5>items 0</h5></a>
            </div>

            <div class="content">
                <a href="/logeo"><i class="fas fa-user-plus"></i></a>
                <p>Ingreso</p>
                <a href="/users/user/1"><h5>admin provisorio</h5></a>
            </div>
        </nav>

        <form>
            <input class="busqueda" type="text" placeholder="¿Qué estás buscando?" />
            <i class="fas fa-search"></i>
        </form> 

        <div class="menu">

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <nav class="menu-desplegable">
                <ul>
                    <li><a href="">Instituciones</a></li>
                    <li><a href="">Empresas</a></li>
                    <li><a href="">Revendedores</a></li>
                </ul>
            </nav>

        </div>
    </div>

</header>