<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Punta de Lapiz</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body class="home">
    <header>
        <div class="logo">
            <img src="/img/Logo.png" alt="logo" />
        </div>
            <nav class="iconos">
                <div class="content">
                    <a href="/product"><i class="fas fa-shopping-cart"></i></a>
                    <p>Mi carrito</p>
                    <a href=""><h5>items 0</h5></a>
                </div>
                <div class="content">
                    <a href="/logeo"><i class="fas fa-user-plus"></i></a>
                    <p>Ingreso</p>
                    <a href=""><h5>¿No tienes cuenta?</h5></a>
                </div>
            </nav>
            <form>
                <input class="busqueda" type="text" placeholder="¿Qué estás buscando?" />
                <i class="fas fa-search"></i>
            </form>   
            <div class="menu">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
                <nav class="menu-desplegable">
                    <ul>
                        <li><a href="">Instituciones</a></li>
                        <li><a href="">Empresas</a></li>
                        <li><a href="">Revendedores</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
   
    <main>






   <article class="articulo">
            <div class="services">
                <div class="item">
                    <div class="icono">
                        <i class="fas fa-truck"></i>
                    </div>
                    <h4>Envios a todo el país</h4>
                    <p >Llegamos a todos los rincones del pais.</p>
                </div>
               
                <div class="item">
                    <div class="icono">
                        <i class="far fa-credit-card"></i>
                   </div>
                    <h4>Facilidades de pago</h4>
                    <p >Recibimos todos los medios de pago.</p> 
                </div>
               
                <div class="item">
                    <div class="icono">
                        <i class="fas fa-award"></i>
                   </div>
                    <h4>Precios Premium</h4>
                    <p >Precios especiales a instituciones, empresas y revendores.</p>   
               
                </div>
               
                <div class="item">
                    <div class="icono">
                        <i class="fas fa-award"></i>
                   </div>
                    <h4>Seguimiento de pedido</h4>
                    <p>En el despacho de todos nuestros paquetes</p>
                </div>
            </div>
        </article>

        <section class="marcas">
                       <div class="container-marcas">
                <img width=100% src="img/logo-rivadavia.jpg" alt="Rivadavia">
            </div>
            <div class="container-marcas">
                <img width=100% src="img/logo-bic.jpg" alt="Bic">
            </div>
            <div class="container-marcas">
                <img width=100% src="img/logo-fabercastell.png" alt="FaberCastell">
            </div>   
        </section>
            
        <section class="section-products">
            <h2>Productos destacados</h2>
            <article class="products">
                <img width= 33% src="/img/bic-cristalup.jpg" alt="">
                <h3>Bic</h3>
                <p>
                    Boligrafo Bic Up
                    Fashion + 8 clásicos
                    colores surtidos.
                </p>
                <p class="precio">$582</p>
                <a class="more" href="">Agregar</a>
            </article>
            <article class="products">
                <img width= 33% src="/img/bic-cristalup.jpg" alt="">
                <h3>Bic</h3>
                <p>
                    Boligrafo Bic Up
                    Fashion + 8 clásicos
                    colores surtidos.
                </p>
                <p class="precio">$582</p>
                <a class="more" href="">Agregar</a>
            </article>
            <article class="products">
                <img width= 33% src="/img/bic-cristalup.jpg" alt="">
                <h3>Bic</h3>
                <p>
                    Boligrafo Bic Up
                    Fashion + 8 clásicos
                    colores surtidos.
                </p>
                <p class="precio">$582</p>
                <a class="more" href="">Agregar</a>
            </article>
            <article class="products">
                <img width= 33% src="/img/bic-cristalup.jpg" alt="">
                <h3>Bic</h3>
                <p>
                    Boligrafo Bic Up
                    Fashion + 8 clásicos
                    colores surtidos.
                </p>
                <p class="precio">$582</p>
                <a class="more" href="">Agregar</a>
            </article>
            <article class="products-desk">
                <img width= 33% src="/img/bic-cristalup.jpg" alt="">
                <h3>Bic</h3>
                <p>
                    Boligrafo Bic Up
                    Fashion + 8 clásicos
                    colores surtidos.
                </p>
                <p class="precio">$582</p>
                <a class="more" href="">Agregar</a>
            </article>
        </section>
        
        <div class="banner">
            <img src="/img/booksale.png" alt="booksale">
        </div>

        <section class="lugares">
            <div>
                <img   src="/img/oficina.jpg" alt="Oficina">
                <a href="">Empresas</a>
            </div>
            <div>
                <img  src="/img/escuela.jpg" alt="Escuela">
                <a href="">Instituciones</a>
            </div>
            <div>
                <img src="/img/libreria.jpg" alt="Librería">
                <a href="">Revendores</a>
            </div>
            <div>
                <img  src="/img/estudiouniversitario.jpg" alt="Universidad">
                <a href="">Universitario</a>
            </div>
           
            <div class="lugares-tablet">
                <img src="/img/libreria.jpg" alt="Librería">
                <a href="">Revendores</a>
            </div>
            <div class="lugares-tablet"> 
                <img  src="/img/estudiouniversitario.jpg" alt="Universidad">
                <a href="">Universitario</a>
            </div>
        </section>
   
    </main>
    <footer>
        <div class="logo-footer">
            <img src="/img/Logo.png" alt="logo">
        </div>
        <div class="info">
            <h2 class="nosotros">NOSOTROS</h2>
            <h2 class="nosotros">SERVICIOS</h2>
            <h2>CONTACTOS</h2>
        </div>
        <p>Todos los derechos reservados 2021</p>
    </footer>
</body>

</html>