<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripción del producto</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body class="product">
 <header>
    <div class="logo">
        <img src="/img/Logo.png" alt="logo" />
    </div>
        <nav class="iconos">
            <div class="content">
                <a href="/product"><i class="fas fa-shopping-cart"></i></a>
                <p>Mi carrito</p>
                <a href=""><h5>items 0</h5></a>
            </div>
            <div class="content">
                <a href="/logeo"><i class="fas fa-user-plus"></i></a>
                <p>Ingreso</p>
                <a href=""><h5>¿No tienes cuenta?</h5></a>
            </div>
        </nav>
        <form>
            <input class="busqueda" type="text" placeholder="¿Qué estás buscando?" />
            <i class="fas fa-search"></i>
        </form>   
        <div class="menu">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <nav class="menu-desplegable">
                <ul>
                    <li><a href="">Instituciones</a></li>
                    <li><a href="">Empresas</a></li>
                    <li><a href="">Revendedores</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
    <main>

        <section>
            <article class="producto">
                <img width= 33% src="/img/bic-cristalup.jpg" alt="">
                <div class="detalle">
                <h3>BIC</h3>
                <p>
                    Boligrafo Bic Up
                    Fashion + 8 clásicos
                    colores surtidos.
                </p>
                <p class="precio">$582</p>
                <p class="diseños">Diseños/colores: U</p>
                
                <div class="agregar">
                    <p> - 1 +</p>
                    <a href="#">
                        <button class="button-agregar" >AGREGAR</button>
                    </a> 
                </div>
            </div>
            </article>
        </section>

        <h4 class="tambien">TAMBIEN TE PUEDE INTERESAR</h4>
        <section class="section-products">
            <article class="products">
                <img width= 33% src="/img/bic-cristalup.jpg" alt="">
                <h3>Bic</h3>
                <p>
                    Boligrafo Bic Up
                    Fashion + 8 clásicos
                    colores surtidos.
                </p>
                <p class="precio">$582</p>
                <a href="#">
                    <button class="button-agregar" >AGREGAR</button>
                </a> 
            </article>
            <article class="products">
                <img width= 33% src="/img/bic-cristalup.jpg" alt="">
                <h3>Bic</h3>
                <p>
                    Boligrafo Bic Up
                    Fashion + 8 clásicos
                    colores surtidos.
                </p>
                <p class="precio">$582</p>
                <a href="#">
                    <button class="button-agregar" >AGREGAR</button>
                </a> 
            </article>
            <article class="products">
                <img width= 33% src="/img/bic-cristalup.jpg" alt="">
                <h3>Bic</h3>
                <p>
                    Boligrafo Bic Up
                    Fashion + 8 clásicos
                    colores surtidos.
                </p>
                <p class="precio">$582</p>
                <a href="#">
                    <button class="button-agregar" >AGREGAR</button>
                </a> 
            </article>
            <article class="products">
                <img width= 33% src="/img/bic-cristalup.jpg" alt="">
                <h3>Bic</h3>
                <p>
                    Boligrafo Bic Up
                    Fashion + 8 clásicos
                    colores surtidos.
                </p>
                <p class="precio">$582</p>
                <a href="#">
                    <button class="button-agregar" >AGREGAR</button>
                </a> 
                </section>

    </main>

    <footer>
        <div class="logo-footer">
            <img src="/img/Logo.png" alt="logo">
        </div>
        <div class="info">
            <h2 class="nosotros">NOSOTROS</h2>
            <h2 class="nosotros">SERVICIOS</h2>
            <h2>CONTACTOS</h2>
        </div>
        <p>Todos los derechos reservados 2021</p>
    </footer>
</body>
</html>