<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
 <body class="register">
    <header>
        <div class="logo">
            <img src="/img/Logo.png" alt="logo" />
        </div>
            <nav class="iconos">
                <div class="content">
                    <a href="/product"><i class="fas fa-shopping-cart"></i></a>
                    <p>Mi carrito</p>
                    <a href=""><h5>items 0</h5></a>
                </div>
                <div class="content">
                    <a href="/logeo"><i class="fas fa-user-plus"></i></a>
                    <p>Ingreso</p>
                    <a href=""><h5>¿No tienes cuenta?</h5></a>
                </div>
            </nav>
            <form>
                <input class="busqueda" type="text" placeholder="¿Qué estás buscando?" />
                <i class="fas fa-search"></i>
            </form>   
            <div class="menu">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
                <nav class="menu-desplegable">
                    <ul>
                        <li><a href="">Instituciones</a></li>
                        <li><a href="">Empresas</a></li>
                        <li><a href="">Revendedores</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <input type="text" placeholder="Nombre de usuario">
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Apellido">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Dirección">
            <input type="text" placeholder="Contraseña">
            <input type="text" placeholder="Repetir contraseña">
            <div >
                <input type="checkbox">
                <p>Estoy de acuerdo con los terminos y condiciones</p>
            </div>
            <div class="bottom">
                <a  href="">Ingresar</a>
            </div>

        </div>
    </main>
    <footer>
        <div class="logo-footer">
            <img src="/img/Logo.png" alt="logo">
        </div>
        <div class="info">
            <h2 class="nosotros">NOSOTROS</h2>
            <h2 class="nosotros">SERVICIOS</h2>
            <h2>CONTACTOS</h2>
        </div>
        <p>Todos los derechos reservados 2021</p>
    </footer>
</body>
</html>