<!DOCTYPE html>
<html lang="es">
    
    <%- include('./../partials/head') %>

<body class="login">

    <%- include('./../partials/header') %>
  
<main>

    <h4>Iniciar sesión</h4>
    <div class="container">
       <input  class="ingreso1" type="text" placeholder="Nombre de usuario">
       <input  class="ingreso2" type="text" placeholder="Contraseña">
       <div class=checkbox>
            <input type="checkbox">
            <p>Recordar contraseña</p>
       </div>
        <div class="bottom">
            <a  href="">Ingresar</a>
        </div>
    </div >

</main>

    <%- include('./../partials/footer') %>

</body>
</html>