<!DOCTYPE html>
<html lang="en">

    <%- include('./../partials/head') %>

 <body class="register">

    <%- include('./../partials/header') %>

    <main>
        <h4>registro de usuario</h4>
        <div class="container">
            <input type="text" placeholder="Nombre de usuario">
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Apellido">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Dirección">
            <input type="text" placeholder="Contraseña">
            <input type="text" placeholder="Repetir contraseña">
            <div >
                <input type="checkbox">
                <p>Estoy de acuerdo con los terminos y condiciones</p>
            </div>
            <div class="bottom">
                <a  href="">Ingresar</a>
            </div>

        </div>
    </main>
    
    <%- include('./../partials/footer') %> 

</body>
</html>