<!DOCTYPE html>
<html lang="es">
    
    <%- include('./partials/head') %> 

<body class="home">

    <%- include('./partials/header') %> 


    <main >
 <section class="body_about">
        <div class="card_about">
            <div class="img_about">
              <img src="img/usersimg/angel_vega.jpg" alt="img" />
            </div>
            <div class="content_about">
              <div class="detail_about">
                <h2>Angel Vega<br /><span>Developer</span></h2>
                <ul class="sci_about">
                    <li>
                        <a href="#"><i class="fab fa-github"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                      </li>
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>




          
        </section>
        <section class="imagenes_about">
            <div class="meme_about">
            <div>
                <img src="img/la_rioja.jpg" alt="">
            </div>
        </div>
        <div class="auspiciantes__about">
            <h6>PAGINA AUSPICIADA POR</h6>
            <div class="auspiciantes">
                <div>
                    <img src="img/formar.png" alt="">
                </div>

                <div>
                    <img src="img/digital.png" alt="">
                </div>

                <div>
                    <img src="img/santander.png" alt="">
                </div>
            </div>
            </div>
            
        </section>
    </main>



</body>

</html>