<!DOCTYPE html>
<html lang="es">
    
    <%- include('./partials/head') %> 

<body class="home">

    <%- include('./partials/header') %> 



    
   
    <main >
        



        <div class="box__faq">
            <p class="heading__faq">MUCHAS GRACIAS</p>
            <div class="faqs__faq">
               <details>
                  <summary>PREGUNTAS?</summary>
                 <img class="img_faq" src="/img/lapiz_pregunta.webp" alt="">
               </details>
              
            </div>
         </div>







        
    </main>
    
  

  

</body>

</html>